<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="faq">

	<!-- FAQ 작성 -->
	<insert id="insertFaq" parameterType="hashmap">
		<![CDATA[
			INSERT INTO FAQ (
				FAQ_NO,
				TITLE,
				CONTENT,
				REGDATE,
				MEMBER_ID )
			VALUES (
				FAQ_NO_SEQ.NEXTVAL,
				#{TITLE},
				#{CONTENT},
				SYSDATE,
				#{MEMBER_ID} )
		]]>
	</insert>

	<!-- 전체 FAQ 리스트 -->
	<select id="selectAllFaq" parameterType="hashmap"
		resultType="hashmap">
		<![CDATA[
			SELECT
				FAQ_NO,
				TITLE,
				CONTENT,
				REGDATE,
				MEMBER_ID
			FROM
				FAQ
		]]>
	</select>

</mapper>