<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="item">

	<!-- 상품 등록 -->
	<insert id="insertItem" parameterType="hashmap">
		<![CDATA[
			INSERT INTO ITEM (
				NAME,
				THUMBNAIL,
				CONTENT,
				REGDATE,
				PRICE,
				READCOUNT,
				CATEGORY )
			VALUES (
				#{NAME},
				#{THUMBNAIL},
				#{CONTENT},
				SYSDATE,
				#{PRICE},
				#{READCOUNT},
				#{CATEGORY} )
		]]>
	</insert>

	<!-- 전체 상품 리스트 -->
	<select id="selectAllItem" parameterType="hashmap"
		resultType="hashmap">
		<![CDATA[
			SELECT * FROM
				(SELECT rownum as RNUM,s.*
					FROM 
					(SELECT 
						ITEM_NO,
						NAME,
						THUMBNAIL,
						CONTENT,
						REGDATE,
						PRICE,
						READCOUNT,
						CATEGORY
					FROM
						ITEM)S)
					WHERE
				RNUM >= #{START_NUM} AND RNUM<=#{END_NUM}
				ORDER BY
				ITEM_NO DESC
		]]>
	</select>

	<!-- 카테고리별 상품 리스트 -->
	<select id="selectCategoryItem" parameterType="hashmap"
		resultType="hashmap">
		<![CDATA[
			SELECT
				*
			FROM
				ITEM
			WHERE
				CATEGORY = #{CATEGORY}
		]]>
	</select>

	<!-- 신규 상품 리스트 -->
	<select id="selectNewItem" parameterType="hashmap"
		resultType="hashmap">
		<![CDATA[
			SELECT
				*
			FROM
				ITEM
			WHERE
				ROWNUM < 5
		]]>
	</select>

	<!-- 인기 상품 리스트 -->
	<select id="selectBestItem" parameterType="hashmap"
		resultType="hashmap">
		<![CDATA[
			SELECT
				*
			FROM (　　　　
				SELECT 
					*
				FROM 
					ITEM
				ORDER BY 
					READCOUNT DESC
				) e
			WHERE rownum < 5
		]]>
	</select>

	<!-- 아이템 가져오기 -->
	<select id="selectOneItem" parameterType="hashmap"
		resultType="hashMap">
		<![CDATA[
			SELECT 
				ITEM_NO,
				NAME,
				THUMBNAIL,
				CONTENT,
				REGDATE,
				PRICE,
				READCOUNT,
				CATEGORY
			FROM
				ITEM
			WHERE
				ITEM_NO = #{ITEM_NO}
		]]>
	</select>

	<!-- 상품 조회수 증가 -->
	<update id="updateReadcnt" parameterType="hashmap">
		<![CDATA[
			UPDATE 
				ITEM
			SET
				READCOUNT = READCOUNT+1
			WHERE
				ITEM_NO = #{ITEM_NO}
		]]>
	</update>

	<!-- 상품 속성 가져오기 -->
	<select id="selectItemAttribute" parameterType="hashmap"
		resultType="hashMap">
		<![CDATA[
			SELECT
				ATTRIBUTE_NO,
				ITEM_SIZE,
				COUNT,
				ITEM_PRICE
			FROM 
				ITEM_ATTRIBUTE
			WHERE
				ITEM_NO = #{ITEM_NO}
		]]>
	</select>

	<select id="getTotalList" parameterType="hashmap"
		resultType="int">
		SELECT
		COUNT(*) TOTAL
		FROM
		ITEM
	</select>
</mapper>